#early-access{
  background-color: white;
  position: relative;
  top: -180px;
  height: 70vh;
}

#early-access .earlyeccess-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  height: 384px;
  border: 1px solid transparent;
  background-color: rgba(247, 246, 242, 1);
  border-radius: 12px;
}

.early-access-content{
  text-align: center;
  margin-top: 7%;
}

.early-access-content h2{
  font-size: 40px;
  font-weight: 700;
}

.early-access-content p{
  font-size: 14.5px;
  color: rgba(98, 115, 130, 1);
  line-height: 20px;
  margin: 20px 0;
}

.early-access-content button{
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.early-access-content button img{
  vertical-align: middle; 
  margin-left: 5px;
  max-width: 17px;
}

.early-access-content .text{
  margin-top: 15px;
}