footer{
  background-color: #001931;
  margin-top: -180px;
  color: white;
}

footer .footer-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 120px 0 80px;
}

footer .footer-container h6{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

footer .footer-content {
  margin-right: 110px;
}

footer .footer-container a{
  margin: 0 6px;
}

footer .footer-container h5{
  display: inline;
}

footer  hr{
  width: 85%;
  max-width: 1360px;
  margin:0 auto ;
  display: block;
  opacity: 0.2;
}

.copyright{
  text-align: center;
  padding: 30px 0;
}