*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#navbar{
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
  align-items: center;
}

#navbar .logo img{
  max-width: 139px;
}

#navbar ul{
  display: flex;
  list-style-type: none;
  gap: 32px;
  font-weight: 500;
}

#navbar ul a{
  text-decoration: none;
  color: black;
}

.btn{
  background-color:#30B868;
  color: white;
  font-weight: 600;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
}

