#structure{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
  
}

#structure h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

#structure .card-container{
  display: flex;
  justify-content:space-between;
  gap:24px;
  margin-top: 44px;
}

.card-container .card h4{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card-container .card p, #structure p{
  line-height: 20px;
  font-weight: 400;
  color:#627382;
}

.card{

  border:none ;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 70px 24px;
  border-radius: 8px;
}

.card-container .card img{
  background: rgba(249, 85, 85, 1);
  border-radius:30px;
  padding: 13px;
  margin-bottom: 16px;
}

#hi{
  height: 50vh;
  background: white;
  position: relative;
  top: -185px;
}